/* WARNING: head */
/* WARNING: body */
body {
  font-family: 'Montserrat', sans-serif;
}

/* WARNING: Title */
.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* Navbar */
.nav-link {
  font-weight: bolder;
}

/* Button */
.row {
  margin-right: 0;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/
#title {
  background-color: #E0FFFF;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 4rem;
  display: inline-block;
  line-height: 1.5;
  font-weight: 800;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

/* WARNING: Title navbar */
.nav-link {
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-toggler {
  margin-right: 1rem;
}

.company-logo-title-size {
  height: 3rem;
  width: 7.5rem;
}

/* ===========  Section 2 =============*/
.section2 {
  /* background-image: url('assets_aboutassets_Introimg7.png') 0 0; */
  background-color: #E0FFFF;
}

.sec2-container {
padding: 3% 4%;
}

.sec2-container-box {
  padding: 30px;
}

.sec2heading1 {
  margin-top: 3%;
}

.sec2img {
  padding-left: 8%;
  width: 100%;
}

/* ========= Section 3 ===========*/
.section3 {
  padding: 10% 4%;
  text-align: center;
  background-color: #F0F0F0;
}

.mission-card {
  padding: 3%;
}

.card-header {
  background-color: powderblue;
}

.card-header-h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body {
  background-color: #E8E8E8;
}

/* .mission-card:hover{
  -webkit-transform: rotatex(30deg);
        -ms-transform: rotatex(30deg);
        transform: rotatex(-30deg);
        padding: 2%;

} */

.card-ani {
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  transition: all 150ms ease-in-out;
}
.card-ani:hover {
	top: -3px;
	left: -3px;
  box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}


/* ============== Section 4 =========== */

.section4 {
  padding: 5% 4%;
  text-align: center;
  background-color: #E0FFFF;
}

.section4-text {
  font-size: 2.5rem;
  font-weight: bolder;
}

.section4-text-hr {
  background-color: #E0FFFF;
  border-top: 10px dotted #aaaaFF;
  width: 10%;
  margin: auto;
}

.coutn-main {
  margin: 5%;
  background-color: #E0FFFF;
}

.count-body {
  background-color: #E0FFFF;
  padding-top: 10%;
  font-size: 1.5rem;
  font-weight: bold;

}


.count-text::after {
  font-size: 2.5rem;
  font-weight: bolder;
  content: counter(count);
  animation: counter 2s ease-in-out;
  animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
}

@keyframes counter {
  0% {
    counter-increment: count 0;
  }
  10% {
    counter-increment: count 100;
  }
  20% {
    counter-increment: count 200;
  }
  30% {
    counter-increment: count 300;
  }
  40% {
    counter-increment: count 400;
  }
  50% {
    counter-increment: count 500;
  }
  60% {
    counter-increment: count 600;
  }
  70% {
    counter-increment: count 700;
  }
  80% {
    counter-increment: count 800;
  }
  90% {
    counter-increment: count 900;
  }
  100% {
    counter-increment: count 10000;
  }
}




/* ============== Section 5 =========== */

.section5 {
  padding:5% 2% 2% 2%;
  text-align: center;
  background-color: #F0F0F0;
}

.section5-text {
  font-size: 2.5rem;
  font-weight: bolder;
}

.section5-text-hr {
  background-color: #E0FFFF;
  border-top: 10px dotted #aaaaFF;
  width: 10%;
  margin: auto;
}


.sec5-container{
    padding: 8% 4% 1% 4%;
}
.sec5img{
  padding-top: 10%;
  width: 35%;
}

.sec5heading1{
  padding-top: 10%;
}

/* ============== Section 6 =========== */
.section6 {
  padding:1% 2% 2% 2%;
  text-align: center;
  background-color: #F0F0F0;
}

.section6-text {
  font-size: 2.5rem;
  font-weight: bolder;
}


.sec6-container{
    padding: 1% 4% 3% 4%;
}
.sec6img{
  padding-top: 10%;
  width: 35%;
}

.sec6heading1{
  padding-top: 10%;
}




/* ============== Section 7 =========== */

.section7 {
  padding: 5% 4%;
    text-align: center;

  background-color: #E0FFFF;
}

.section7-text {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}

.section7-text-hr {
  background-color: #E0FFFF;
  border-top: 10px dotted #aaaaFF;
  width: 10%;
  margin: auto;
}

.btn {
  display: inline-block;
  position: relative;
  margin-top: 150px;
  margin-left: 50%;
  z-index: 0;
  background-color: #2F4F4F;
  color: #E0FFFF;
  transform: translate(-50%, -50%);
  display: block;
  width: 180px;
  height: 50px;
  font-family: 'Raleway';
  font-size: large;
  border-radius: 20px;
  border: none;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25),
    -8px -8px 12px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.btn:hover {
  z-index: 0;
  color: #E0FFFF;
  box-shadow: 50px 50px 50px #97588d inset,
    50px 50px 50px #97588d inset;
}


.section7-text-hr2{
  background-color: #E0FFFF;
  border-top: 3px solid #ff3333;
  width: 3%;
  margin: auto;

}










/* try */
