/* WARNING: head */
/* WARNING: body */
body {
  font-family: 'Montserrat', sans-serif;
-webkit-text-size-adjust: auto;
}

/* WARNING: Title */
.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%
}

/* Navbar */
.nav-link {
  font-weight: bolder;
}

/* Button */
.row {
  margin-right: 0;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/
#title {
  background-color: #E0FFFF;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 4rem;
  display: inline-block;
  line-height: 1.5;
  font-weight: 800;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

/* WARNING: Title navbar */
.nav-link {
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-toggler {
  margin-right: 1rem;
  -webkit-text-size-adjust: auto;
}

.company-logo-title-size {
  height: 3rem;
  width: 7.5rem;
  -webkit-text-size-adjust: auto;
}


.navbar1 {
  background-color: #0082e6;
  height: 70px;
  width: 100%;
  z-index: 2;
  position: fixed;
}


  @media screen and (max-width: 1000px) {
    .checkbtn {
      display: block;
    }

.logoimg{
    width: 100px;

  }

    ul {
      position: fixed;
      width: 100%;
      height: 80px;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .navbar1{
      height: 80px;
    }

    .navbar1 ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }

.navbar1 ul li a {
      font-size: 20px;
    }

    .navbar-toggler {
      -webkit-text-size-adjust: auto;
    }
  }


/* ===========  Section 2 =============*/

.section2{
  background-color: powderblue;
}

.sec2-container{
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

.sec2-container-box{
  padding: 30px;
}

.sec2img{
  padding-left: 7%;
  width: 110%;
}
