/* WARNING: head */
/* WARNING: body */
/* WARNING: Title */
/* WARNING: Title navbar */
.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-toggler {
  margin-right: 1rem;
}

.company-logo-title-size {
  height: 3rem;
  width: 7.5rem;
}
